<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{backoffice/layout/layout}">
<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        $(document).ready(function() {
            var del = [[${currentUri.endsWith('delete')? true : false}]];
            if (del) {
                $(":input").prop('disabled',true);
                $(":button").prop('disabled',false);
                $(":input[type='hidden']").prop('disabled',false);
            }

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        });
    </script>
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header"><h3 class="card-title" th:text="#{sensor.title}"></h3></div>
                <form th:action="${currentUri}" th:object="${sensor}" class="form-horizontal" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{poi.id}"/>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label" th:text="#{sensor.name}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{name}" class="form-control" required maxlength="255"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="topic" class="col-sm-2 col-form-label" th:text="#{sensor.topic}"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{topic}" class="form-control" required maxlength="255"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="type" class="col-sm-2 col-form-label" th:text="#{sensor.type}"></label>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm">
                                    <select th:field="*{type}" class="form-control select2bs4" required>
                                        <option th:each="type : ${types}" th:value="${type.id}" th:text="#{${type.name}}">Metereologici</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="latitude" class="col-sm-2 col-form-label" th:text="#{sensor.latitude}"></label>
                            <div class="col-sm-2">
                                <input type="number" th:field="*{latitude}" min="0.0" step="0.0000001" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="longitude" class="col-sm-2 col-form-label" th:text="#{sensor.longitude}"></label>
                            <div class="col-sm-2">
                                <input type="number" th:field="*{longitude}" min="0.0" step="0.0000001"class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="altitude" class="col-sm-2 col-form-label" th:text="#{sensor.altitude}"></label>
                            <div class="col-sm-2">
                                <input type="number" th:field="*{altitude}" min="0.0" step="1" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" th:text="#{${currentUri.endsWith('delete')? 'common.delete' : 'common.submit'}}"></button>
                        <a href="#" th:href="@{/backoffice/sensor/list(poiID=${sensor.poi.id})}" class="btn btn-default float-right" th:text="#{common.cancel}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
